
<div id="section-button">
  <div class="container">
      <a href="{{ section.settings.button }}" 
          class="button" 
          style="
          color : {{ section.settings.color_btn }}; 
          background-color: {{ section.settings.background_color_btn}}; 
          font-size: {{ section.settings.height_btn }}px; ">
          {{ section.settings.textbutton }}
      </a>
  </div>
</div>

{% schema %}
{
  "name": "Button",
  "settings": [
      {
          "id": "bouton",
          "type": "text",
          "label": "Bouton",
          "default": "Bouton"
      },
      {
          "id": "textbutton",
          "type": "text",
          "label": "Texte",
          "default": "Clique Ici"
      },
      {
          "type": "color",
          "id": "color_btn",
          "label": "Couleur du texte",
          "default": "#FFFFFF"
      },
      {
          "type": "color",
          "id": "background_color_btn",
          "label": "Couleur de fond",
          "default": "#000000"
      },
      {
          "type": "range",
          "id": "height_btn",
          "label": "Taille",
          "min": 5,
          "max": 70,
          "default": 25,
          "unit": "px",
          "step": 1
      }

  ]
  ,
  "presets": [
      {
          "name": "Bouton",
          "category":"Cours IIM"

      }
  ]
}
{% endschema %}

{% stylesheet %}
  
{% endstylesheet %}